@model IEnumerable<BlueOath.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<div class="row my-4">
    <h1 class="display-5 col">Rooms</h1>
    <a asp-action="Create" class="btn btn-primary col-1" role="button">Create New Room</a>
</div>

<div class="container mb-5">
    <div class="row justify-content around">
@foreach (var item in Model) {
        <div class="col-6 mb-1">
            <div class="card">
                <img decoding="async" src="@("~/image/"+item.Description)" asp-append-version="true" class="img-fluid" />
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayNameFor(model => model.RoomType): @Html.DisplayFor(modelItem => item.RoomType)</h2>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Facilities): @Html.DisplayFor(modelItem => item.Facilities)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(modelItem => item.Status)</p>
                    <h2 class="card-title">@Html.DisplayNameFor(model => model.Rate): @Html.DisplayFor(modelItem => item.Rate)</h2>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        </div>
}
    </div>
</div>
